In [48]:
import pandas as pd
import numpy as np

ROOT_DIR = './home-credit-credit-risk-model-stability/csv_files/train/'
TRAIN_CSV = 'train_applprev_1_0.csv'

train_df_1 = pd.read_csv(ROOT_DIR + TRAIN_CSV)

/var/folders/lr/_klwybj56q90nyw5lnq7mj0h0000gn/T/ipykernel_38951/1866393817.py:7: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df_1 = pd.read_csv(ROOT_DIR + TRAIN_CSV)

In [47]:
TRAIN_CSV_2 = 'train_applprev_1_1.csv'
train_df_2 = pd.read_csv(ROOT_DIR + TRAIN_CSV_2)

/var/folders/lr/_klwybj56q90nyw5lnq7mj0h0000gn/T/ipykernel_38951/1413841073.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df_2 = pd.read_csv(ROOT_DIR + TRAIN_CSV_2)

In [50]:
train_df = pd.concat([train_df_1, train_df_2], axis=0)

# Reset index if needed
train_df.reset_index(drop=True, inplace=True)

# Output the combined DataFrame
print(len(train_df))

6525979

In [51]:
def inspect_columns(df):
    
    result = pd.DataFrame({
        'unique': df.nunique() == len(df),
        'cardinality': df.nunique(),
        'with_null': df.isna().any(),
        'null_pct': round((df.isnull().sum() / len(df)) * 100, 2),
        '1st_row': df.iloc[0],
        'random_row': df.iloc[np.random.randint(low=0, high=len(df))],
        'last_row': df.iloc[-1],
        'dtype': df.dtypes
    })
    return result

In [52]:
eda_data = inspect_columns(train_df)

In [53]:
threshold = 10.0

In [55]:
eda_data

,unique,cardinality,with_null,null_pct,1st_row,random_row,last_row,dtype
case_id,False,1221522,False,0.00,2,1817285,2703454,int64
actualdpd_943P,False,189,True,0.04,0.0,0.0,0.0,float64
annuity_853A,False,89297,True,3.84,640.2,4311.6,6726.6,float64
approvaldate_319D,False,5402,True,46.13,NaN,2019-04-13,2019-08-01,object
byoccupationinc_3656910L,False,29699,True,76.49,NaN,NaN,NaN,float64
cancelreason_3545846M,False,76,False,0.00,a55475b1,a55475b1,a55475b1,object
childnum_21L,False,20,True,54.54,0.0,NaN,NaN,float64
creationdate_885D,False,5405,True,0.00,2013-04-03,2019-04-13,2019-08-01,object
credacc_actualbalance_314A,False,93621,True,95.10,NaN,NaN,NaN,float64
credacc_credlmt_575A,False,52331,True,2.97,0.0,0.0,0.0,float64
credacc_maxhisbal_375A,False,77167,True,95.10,NaN,NaN,NaN,float64
credacc_minhisbal_90A,False,75233,True,95.10,NaN,NaN,NaN,float64
credacc_status_367L,False,6,True,95.10,NaN,NaN,NaN,object
credacc_transactions_402L,False,102,True,95.10,NaN,NaN,NaN,float64
credamount_590A,False,252460,True,3.10,10000.0,43692.6,60000.0,float64
credtype_587L,False,3,True,3.10,CAL,COL,CAL,object
currdebt_94A,False,531480,True,34.42,NaN,0.0,0.0,float64
dateactivated_425D,False,4256,True,48.14,NaN,2019-04-17,2019-08-20,object
district_544M,False,1063,False,0.00,P136_108_173,P131_33_167,P48_127_19,object
downpmt_134A,False,22975,True,3.10,0.0,400.0,0.0,float64
dtlastpmt_581D,False,2554,True,72.79,NaN,2019-09-16,2020-08-02,object
dtlastpmtallstes_3545839D,False,2570,True,61.96,NaN,2019-09-16,2020-08-02,object
education_1138M,False,6,False,0.00,P97_36_170,a55475b1,P97_36_170,object
employedfrom_700D,False,10307,True,59.55,2010-02-15,NaN,NaN,object
familystate_726L,False,5,True,36.68,SINGLE,NaN,WIDOWED,object
firstnonzeroinstldate_307D,False,5165,True,10.00,2013-05-04,2019-05-15,2019-09-01,object
inittransactioncode_279L,False,3,True,3.10,CASH,POS,CASH,object
isbidproduct_390L,False,2,True,0.00,False,False,False,object
isdebitcard_527L,False,2,True,92.91,NaN,NaN,NaN,object
mainoccupationinc_437A,False,28717,True,1.56,8200.0,50000.0,60000.0,float64
maxdpdtolerance_577P,False,3643,True,47.44,NaN,0.0,0.0,float64
num_group1,False,20,False,0.00,0,4,1,int64
outstandingdebt_522A,False,384590,True,34.60,NaN,0.0,0.0,float64
pmtnum_8L,False,60,True,8.46,24.0,12.0,12.0,float64
postype_4733339M,False,9,False,0.00,a55475b1,P177_117_192,P46_145_78,object
profession_152M,False,11508,False,0.00,a55475b1,a55475b1,a55475b1,object
rejectreason_755M,False,18,False,0.00,a55475b1,a55475b1,a55475b1,object
rejectreasonclient_4145042M,False,14,False,0.00,a55475b1,a55475b1,a55475b1,object
revolvingaccount_394A,False,80700,True,95.45,NaN,NaN,NaN,float64
status_219L,False,11,True,0.00,D,K,K,object
tenor_203L,False,60,True,8.46,24.0,12.0,12.0,float64

In [56]:
filtered_data = eda_data[eda_data["null_pct"] < threshold]

In [57]:
selected_columns = train_df.loc[:, filtered_data.index]

In [58]:
selected_columns

,case_id,actualdpd_943P,annuity_853A,cancelreason_3545846M,creationdate_885D,credacc_credlmt_575A,credamount_590A,credtype_587L,district_544M,downpmt_134A,...,isbidproduct_390L,mainoccupationinc_437A,num_group1,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,status_219L,tenor_203L
0,2,0.0,640.20000,a55475b1,2013-04-03,0.0,10000.0,CAL,P136_108_173,0.0,...,False,8200.0,0,24.0,a55475b1,a55475b1,a55475b1,a55475b1,D,24.0
1,2,0.0,1682.40000,a55475b1,2013-04-03,0.0,16000.0,CAL,P136_108_173,0.0,...,False,8200.0,1,12.0,a55475b1,a55475b1,a55475b1,a55475b1,D,12.0
2,3,0.0,6140.00000,P94_109_143,2019-01-07,0.0,59999.8,CAL,P131_33_167,0.0,...,False,11000.0,0,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,D,12.0
3,4,0.0,2556.60000,P24_27_36,2019-01-08,0.0,40000.0,CAL,P194_82_174,0.0,...,False,16000.0,0,24.0,a55475b1,a55475b1,a55475b1,a55475b1,T,24.0
4,5,0.0,NaN,P85_114_140,2019-01-16,NaN,NaN,NaN,P54_133_26,NaN,...,False,62000.0,0,NaN,a55475b1,a55475b1,a55475b1,a55475b1,T,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6525974,2703453,0.0,927.80000,a55475b1,2014-01-22,0.0,10000.0,CAL,P123_6_84,0.0,...,False,7000.0,6,18.0,P177_117_192,a55475b1,a55475b1,a55475b1,K,18.0
6525975,2703453,0.0,266.80002,a55475b1,2013-06-29,0.0,2198.0,COL,P123_6_84,0.0,...,False,7000.0,7,12.0,P177_117_192,a55475b1,a55475b1,a55475b1,K,12.0
6525976,2703453,0.0,416.20000,a55475b1,2013-06-29,0.0,2198.0,COL,P123_6_84,0.0,...,False,7000.0,8,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,D,6.0
6525977,2703454,0.0,2986.80000,a55475b1,2020-06-21,0.0,15998.0,COL,P48_127_19,0.0,...,False,24000.0,0,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,A,6.0
6525978,2703454,0.0,6726.60000,a55475b1,2019-08-01,0.0,60000.0,CAL,P48_127_19,0.0,...,False,60000.0,1,12.0,P46_145_78,a55475b1,a55475b1,a55475b1,K,12.0